@use "variaveis" as *;
@use "mixins" as *;

body {
  background-color: $cor-fundo;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $cor-texto;
  font-family: "Inter", system-ui, sans-serif;
  height: 100vh;
  @include centralizar;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

.app-container {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
